<!DOCTYPE html>
<html lang="en">
<head>
    <title>Advanced Password Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Advanced Password Generator</h1>
<form method="post" id = "password-form">
    <div class="form-group">
        <label for="length">Password Length: <span id="length-value">{{.Length}}</span></label>
        <input id="length" max="64" min="8" name="length" type="range" value="{{.Length}}">

    </div>

    <!--  Uppercase checkbox  -->
    <div class="form-group">
        <label>Letter Case:</label>

        {{if eq .Case "upper"}}
        <input type="radio" id="onlyUpper" name="case" value="upper" checked>
        <label for="onlyUpper">Only Uppercase</label>

        <input type="radio" id="onlyLower" name="case" value="lower">
        <label for="onlyLower">Only Lowercase</label>
        {{else}}
        <input type="radio" id="onlyUpper" name="case" value="upper">
        <label for="onlyUpper">Only Uppercase</label>

        <input type="radio" id="onlyLower" name="case" value="lower" checked>
        <label for="onlyLower">Only Lowercase</label>
        {{end}}
    </div>

    <!--  Symbols checkbox  -->
    {{if eq .Symbols "true"}}
    <input id="symbols" name="symbols" type="checkbox" value="true" checked>
    {{else}}
    <input id="symbols" name="symbols" type="checkbox" value="true">
    {{end}}
    <label for="symbols">Include Symbols (!@#$%^&*)</label>

    <!--  Words checkbox  -->
    <div class="form-group">
        {{if eq .Words "true"}}
        <input id="words" name="words" type="checkbox" value="true" checked>
        {{else}}
        <input id="words" name="words" type="checkbox" value="true">
        {{end}}
        <label for="words">Include Words</label>
    </div>

    <button type="submit">Generate Password</button>
</form>

<div class="error-message">
    {{.WordListError}}
</div>


{{if and .Password (eq .WordListError "")}}
<div id="password-display">
    <textarea readonly rows="5">{{.Password}}</textarea>
    <button id="copy-button" onclick="copyPassword()" type="button">Copy to Clipboard</button>
</div>
{{end}}


<script src="/static/script.js"></script>
</body>
</html>